h1,p{
    text-align: center;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
body{
    font-family: 'Open Sans';
    width: 640px;
    height: auto;
    margin: 0 auto;
    color: #492c96;
    background: #fff;
}
.full-img{
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0);
}
button{
    color: white;
    background: linear-gradient(0deg,rgba(250,86,174,0.6),rgba(255,255,255,0.6));
    border: 0;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.thumb-bar img{
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
}