/*Formatting for my overlay page, surrounding the 2020 Summer Olympics swimming.*/

html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: ghostwhite;
  background-color: ghostwhite;
  background-image: url(../img/swimdude.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.logo img{
  position: absolute;
  filter: drop-shadow(5px 5px 3px #ffffff);
  top: 50px;
  left: 10px;
  max-height: auto;
  max-width: 80px;
}
.event p{
  position: absolute;
  top: 40px;
  right: 10px;
  background: linear-gradient(to top, rgba(26,39,90,1),rgba(0,0,0,0.1));
  border-radius: 4px;
  padding: 5px;
}
.caption p{
  color: rgba(26,39,90,1);
  text-align: center;
  position: relative;
  background: gold;
  padding: 3px;
}