body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    text-align: center;
}
#box2{
    width: 25vw;
    height: 20vh;
    position: relative;
    text-align: center;
    background-color: orangered;
    animation: box2move 4s ease-in 1s infinite alternate;
}
#box1:hover{
    background-color: purple;
}
@keyframes box2move{
    0%{left:0px; top:0px;}
    25%{left:200px; top:0px;}
    50%{left:200px; top:200px;}
    75%{left:0px; top:200px;}
    100%{left:0px; top:0px;}
}