* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: ghostwhite;
}

h1{
    font-size: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: slateblue;
    padding: 10px;
}
.gradient-text {
    background-color: slateblue;
    background-image: linear-gradient(90deg, midnightblue, slateblue, orchid);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: none;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.content {
    position: absolute;
    text-align: center;
    width: 100%;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

input{
    padding: 10px 20px;
    border: none;
    background-color: lavender;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: midnightblue;
}

.grid{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2%;
}
  
.square{
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: radial-gradient(slateblue,midnightblue);
    color: #fff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.flip {
    animation-name: flipAnimation;
    background-image: radial-gradient(orchid,slateblue);

}

.flip-reverse {
    animation-name: flipReverseAnimation;
    background-image: radial-gradient(slateblue,midnightblue);

}
  
@keyframes flipAnimation {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(-1);
    }
}
  
@keyframes flipReverseAnimation {
    0% {
        transform: scaleX(-1);
    }
    100% {
        transform: scaleX(1);
    }
}