/* text */

body{
    margin: 0;
    font-family: 'Open Sans';
    letter-spacing: 2px;
}
h1{
    font-size: 40px;
    color:white;
    line-height: 75px;
}
p, li{
    font-family: "Open Sans";
    font-size: 16px;
    color: #23085e;
}
p{
    text-align: center;
}
li{
    text-align: left;
    line-height: 25px;
}
a{
    color: #fa56ae;
}
a:hover, a:visited{
    color: #8543ad;
}
.header{
    position: relative;
    text-align: center;
    align-items: center;
    background: linear-gradient(0deg, #492c96, #8543ad, #d562de, #fa56ae);
    background-size: 800% 800%;
    animation: header-animator 30s ease infinite;
}
.header-inside{
    height: 100px;
}
.flex-property{
    display: flex;
    flex-direction: column;
}
.waves{
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: -8px;
}
.web-content{
    position: relative;
    top: 30px;
    background-color:white;
    align-items: center;
}

/* img carousel */

::-webkit-scrollbar {
    display: none;
  }
.portfolio-carousel{
    width: 100%;
    height: auto; 
    display: flex;
    overflow-x: auto;
    padding-top: 20px;
}
.carousel-img{
    object-fit: cover;
    width: 60%;
    height: 425px;
    margin-right: 15px;
}

/* animation */

.wave-move{
    animation: move-inf 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
@keyframes move-inf{
    0%{
    transform: translate3d(-90px, 0, 0);
    }
    100%{
    transform: translate3d(90px, 0, 0);
    }
}
@keyframes header-animator {
    0%{background-position:5% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

/* media query */

@media (max-width: 500px){
    .waves{
        max-height: 30px;
    }
    .header-inside{
        height: 10vh;
    }
    .content{
        height: 30vh;
    }
    h1{
        font-size: 25px;
    }
    p,li{
        font-size: 10px;
        line-height: 15px;
    }
    .portfolio-carousel{
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        align-items: center
    }
    .carousel-img{
        width: 80%;
        height: auto;
        margin-bottom: 5px;
    }
}